<div class="student-card {{student.dept | lowercase}}-shadow" *ngIf="student">
  <div class="student-card-inner">
    <div class="card-name">{{student.name}}</div>
    <div class="card-roll">
      <span style="font-size: small; margin: 0px 15px 0px 0px">Roll</span>{{student.roll}}
    </div>
    <div class="card-dept">
      <span style="font-size: small; margin: 0px 15px 0px 0px">Dept</span>{{student.dept}}
    </div>
    <div class="card-year">{{setSubscript(student.year)}} Year</div>
    <div class="card-sex">{{student.sex}}</div>
    <div class="card-phone"><i class="fas fa-phone-alt" style="margin-right: 10px;"></i>{{student.phone}}</div>
    <div class="card-address"><i class="fas fa-home" style="margin-right: 10px;font-size: larger;"></i>{{student.address}}</div>
  </div>
</div>
